.line {
  align-items: center;
  width: 95%;
}

.mint-form {
  margin: auto;
  background-color: black;
  box-shadow: 0px 0px 150px #014490;
  border-radius: 1rem;
}

.mint-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  color: white;
}

.input-container {
  padding: 3rem;
}

.label {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-right: 2rem;
  color: white;
}

.sup {
  color: red;
}

.input-nric {
  width: 15rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.3rem;
  margin-left: 2rem;
  text-align: center;
  font-size: 0.8em;
  font-weight: bolder;
}

.input-nric:focus {
  outline: none;
  box-shadow: 0px 0px 20px white;
}

.form-error {
  text-align: right;
  font-size: 0.5em;
  color: red;
}

.mint-button {
  background: -webkit-linear-gradient(left, #249afb,
  #12224b);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-bottom: 3rem;
}

.mint-button:hover {
  transform: scale(1.1);
  color: white;
  background-image: linear-gradient(
    to right,
    #249afb,
    #12224b
  );
}

.mint-status-label {
  margin-top: 3rem;
  font-size: 1rem;
  color: white;
}

.mint-status {
  font-weight: bold;
}

.user-nft-text {
  font-size: 1rem;
  color: white;
}

.user-nft-image {
  height: 25rem;
  width: 45rem;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 0px 0px 150px rgb(0, 0, 200);
}